
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán thành công</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="main-box">
        <h4 class="payment-titlte">Thanh toán thành công. Cảm ơn bạn đã sử dụng payOS!</h4>
        <p>Nếu có bất kỳ câu hỏi nào, hãy gửi email tới <a href="mailto:support@payos.vn">support@payos.vn</a></p>
        <a href="/" id="return-page-btn">Trở về trang Tạo Link thanh toán</a>
        <form action="/create-payment-link" method="post">
            <button type="submit" id="create-payment-link-btn">Tạo Link thanh toán</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>

@model IEnumerable<ProjectPRN.Models.OrderDetail>

@{
    ViewData["Title"] = "View";
    List<OrderDetail> orderDetails = ViewBag.OrderDetail;
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in orderDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.ID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
        <form action="/create-payment-link" method="post">
            <button type="submit" id="create-payment-link-btn">Tạo Link thanh toán</button>
        </form>
    </tbody>
</table>
