@model IEnumerable<ProjectPRN.ViewModels.Cart>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="h-100 h-custom w-100 py-2">
    <div class="h-100 w-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-5" style="min-height:50rem">

                        <div class="row">

                            <div class="col-lg-7">
                                <h5 class="mb-3">
                                    <a href="../Products/Shop" class="text-body">
                                        <i class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping
                                    </a>
                                </h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Shopping cart</p>
                                        <p class="mb-0">You have @Model.Count() items in your cart</p>
                                    </div>
                                </div>
                                    @foreach(var item in Model){

                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <img src="@item.Image"
                                                         class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <h5>@item.ProductName</h5>
                                                    <p class="small mb-0">@item.CreatedDate</p>
                                                </div>
                                            </div>
                                                <div class="text-primary d-flex flex-row align-items-center">

                                                    <h5 class="fw-normal mb-0">Quantity: @item.Quantity</h5>
                                                </div>
                                            <div class="d-flex flex-row align-items-center">
                                                
                                                <div class="text-success" style="">
                                                    <h5 class="mb-0"> $@item.Price </h5>
                                                </div>

                                                    <form method="post" asp-action="Delete">
                                                        <input type="hidden" name="orderID" value="@item.OrderID" />
                                                        <input type="hidden" name="productID" value="@item.ProductID" />
                                                        <input type="submit" value="🗑" class="btn btn-danger m-1" />
                                                    </form>
                                                <a href="#!" style="color: #cecece;"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }

                            </div>
                            <div class="col-lg-5">

                                <div class="card bg-primary text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Card details</h5>
                                            
                                        </div>

                                        <form class="mt-4">
                                            <div class="form-outline form-white mb-4">
                                                <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                                       placeholder="@Model.FirstOrDefault()?.UserName" disabled/>
                                            </div>

                                        </form>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Subtotal</p>
                                            <p class="mb-2">$@Model.Sum(item => item.Price * item.Quantity)</p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Shipping</p>
                                            <p class="mb-2">$20.00</p>
                                        </div>

                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total(Incl. taxes)</p>
                                            <p class="mb-2">$@(Model.Sum(item => item.Price * item.Quantity) + 20)</p>
                                        </div>

                                        <button type="button" class="btn btn-info btn-block btn-lg w-100">
                                            <div class="d-flex justify-content-between">
                                                <span>$@(Model.Sum(item => item.Price * item.Quantity) + 20)</span>
                                                <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                            </div>
                                        </button>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
